body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    display: initial !important;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "mobileNav mobileNav"
    "secondNav secondNav"
    "sidePanelCm mapa"
}

#map{
    grid-area: mapa;
    width: 100%;
    height: 100%;
    z-index: 1;
}


.secondNav{
    grid-area: secondNav;
    padding: 1rem;
    display: flex;
    gap: 15px;
    z-index: 4 !important;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0, .3);
}

.nav {
    z-index: 5;
    /* box-shadow: 0 0 5px rgba(0,0,0, .7); */
}

.search {
    max-width: 15rem;
}

.searchButton{
    height: 40px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.sidePanelCm{
    z-index:2;
    padding: 2rem;
    grid-area: sidePanelCm;
    max-width: 400px;
    width: 400px;
    overflow-y: auto;
    transition: 0.2s linear;
    border-right: 1px solid rgba(0,0,0, .1);
    /* box-shadow: 0 0 5px rgba(0,0,0, .7); */
}

.ol-control {
    background-color: rgba(0,0,0,.1) !important;
}

.ol-attribution {
    background-color: rgba(255,255,255,.1) !important;
}

.ol-control button {
    background-color: #fff !important;
    color: #000 !important;
}

.rotate-north {
    top: .9em;
    right: .6em;
    color: #fff;
    background-color: rgba(0,0,0,.3) !important;
    font-weight: 400 !important;
    font-size: 0.9rem;
    padding: .2rem .7rem;
  }
  .ol-touch .rotate-north {
    top: 10px;
  }


  @media screen and (max-width: 900px) {
    .wrapper{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 30% 1fr;
        grid-template-areas: 
        "mobileNav"
        "secondNav"
        "sidePanelCm"
        "mapa"
    }
  }