body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    display: initial !important;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "firstnav firstnav"
    "secondNav secondNav"
    "sidePanelCm mapa"
}

#map{
    position: relative;
    grid-area: mapa;
    width: 100%;
    height: 100%;
    z-index: 1;
    touch-action: none;
}

.cardzmarly:hover {
    transition: 0.4s all;
    cursor: pointer;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}


.secondNav{
    grid-area: secondNav;
    padding: .5rem 1rem;
    display: flex;
    gap: 15px;
    z-index: 4 !important;
    width: 100%;
    background-color: rgb(243, 243, 243);
    box-shadow: 0 0 10px rgba(0,0,0, .3);
}

.nav {
    z-index: 5;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #fff;
    border-bottom: 1px solid #cecece;
    /* box-shadow: 0 0 5px rgba(0,0,0, .7); */
}

.mobileTitle{
    font-size: 0.8rem;
    color: #fff;
    margin-left: 5%;
}

.modal-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.desktopMenu a {
    color: #fff;
}

.desktopMenu a:hover {
    color: rgb(37, 37, 37);
}

.search {
    max-width: 15rem;
    height: auto !important;
    font-size: 0.8rem;
}

.searchButton{
    height: auto;
    padding: 0;
    padding: .3rem .5rem;
}

.sidePanelCm{
    z-index:2;
    padding: 1rem 2rem 2rem 2rem;
    grid-area: sidePanelCm;
    max-width: 350px;
    width: 350px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
    display: none;
    overflow-y: auto;
    transition: 0.2s linear;
    border-right: 1px solid rgba(0,0,0, .1);
    /* box-shadow: 0 0 5px rgba(0,0,0, .7); */
}

.flexClose{
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
    ". closeButton"
}

.btn-close {
    height: .2em;
    width: .2em;
}

.no-display {
    display: none;
}

#closeButton{
    grid-area: closeButton;
}

.ol-control {
    background-color: rgba(0,0,0,.1) !important;
}

.ol-attribution {
    background-color: rgba(255,255,255,.1) !important;
}

.ol-control button {
    background-color: #fff !important;
    color: #000 !important;
}

.rotate-north {
    top: 5em;
    right: .6em;
    color: #fff;
    background-color: rgba(0,0,0,.3) !important;
    font-weight: 400 !important;
    font-size: 0.9rem;
    padding: .2rem .7rem;
  }
  .ol-touch .rotate-north {
    top: 10px;
  }

.sidepanel{
    top: 0;
    left: 0;
    color: #fff;
    width: 500px;
    height: 100%;
    max-width: 350px;
    width: 350px;
    /* background-color: rgba(0,0,0,.3) !important; */
    background-color: #fff !important;
    padding: 2rem 1rem;
}

  .ol-zoom {
      left: unset;
      right: .5em ;
  }


  @media screen and (max-width: 900px) {
    .wrapper{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto 1fr;
        grid-template-areas: 
        "firstnav"
        "secondNav"
        "sidePanelCm"
        "mapa"
    }

    .sidePanelCm{
        z-index:2;
        padding: 1rem 2rem 2rem 2rem;
        grid-area: sidePanelCm;
        max-width: 100%;
        width: 100%;
        top: 0;
        left: 0;
        height: 30%;
        background-color: #fff;
        display: none;
        overflow-y: auto;
        transition: 0.2s linear;
        border-right: 1px solid rgba(0,0,0, .1);
        /* box-shadow: 0 0 5px rgba(0,0,0, .7); */
    }
  }