* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html{
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-areas: 
    "sidebar panelContent"
}

.siteName{
    text-align: left;
    font-weight: 600;
    font-size: 1.2rem;
}

.siteName2{
    font-weight: 400;
    color: rgb(165, 165, 165);
}

.crossIcon{
    height: 30px;
    margin-top: 3%;
}

.crossIcon > svg{
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.panelContent{
    padding: 3rem 8%;
    grid-area: panelContent;
    /* padding: 30px 50px; */
    overflow-y: auto;
    background-color: rgb(249, 249, 249);
}

.sidepanel{
    grid-area: sidebar;
    background-color: #121212;
    z-index: 999;
    overflow-y: auto;
    /* background-color: #fff;
    border: 1px solid rgb(206, 206, 206, 0.9);
    box-shadow: 0 0 10px rgba(172, 172, 172, 0.2); */
    color: #e7e7e7;
    padding: 30px 20px;
}

.category{
    font-size: 0.75rem;
    /* color: rgb(136, 136, 136); */
    color: #cecece;
    font-weight: 600;
}

.menu{
    /* display: block; */
    margin: 30px 0;
    
    /* grid-area: menuside; */
}

.menu > hr{
    border: 0;
    border-top: 1px solid #cecece;
}

.menu > a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    margin: 10px 0;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    transition: .2s linear;
}

.menu > a:hover{
    background-color: #1e1e1e;
}

.activeTab{
    font-weight: 700;
    background-color: #1e1e1e;
    cursor: default;
}

.subdomainTitle{
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 600;
}

table {
    table-layout:auto;
    border-collapse: collapse;
    border-spacing: 15px;
    margin-bottom: 30px;
}

table, td, th {
    /* border: 1px solid #cecece; */
    padding: 10px 8px;
}

th{
    border-bottom: 2px solid #8f8f8f;
}

td {
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid rgb(206, 206, 206, 0.6);
}


.przyczyna{
    text-align: left;
}

.buttonTd{
    width: 50px;
    position: relative;
}

.delete{
    border: 0;
    /* display: none; */
    opacity: 0;
    /* display: block; */
    /* width: 25px; */
    height: 25px;
    cursor: pointer;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    /* background-color: rgb(255, 255, 255); */
    background-color: #f94144;
    /* box-shadow: 0 0 10px rgb(121, 121, 121, 0.3); */
    /* border-radius: 100%; */
    position: relative;
}

.delete:hover{
    background-color: #ff262a;
    
    /* background-color: #e63e40; */
}

.icon{
    /* fill: #fff; */
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}

.paginatorDiv{
    width: auto;
    height: auto;
    margin-top: 30px;
}

#paginatorDiv > div > button {
    height: 35px;
    width: 35px;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #cecece;
    border-right: 0;
    color: rgb(59, 59, 59);
    
}

#paginatorDiv > div > button:hover {
    background-color: #e7e7e7;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

#paginatorDiv > div > button:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#paginatorDiv > div > button:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #cecece;
}

.active{
    background-color: #1e1e1e !important;
    color: #fff !important;
    font-weight: 600;
}

#paginatorDiv > span{
    display: block;
    margin-top: 20px;
}

.recordContainer{
    /* padding: 3rem 8%; */
    /* background-color: #fff; */
    /* border: 1px solid #cecece; */
    border-radius: 5px;
    width: 100%;
}


.inputText{
    width: 100%;
    height: 40px;
    border: 1px solid #cecece;
    border-radius: 5px;
    transition: .1s linear;
    padding: 0 1.5rem;
    background-color: #fff;
}

.inputText:focus{
    outline: 0;
    border: 1px solid #727272;
    box-shadow: 0 0 0 3pt  rgba(172, 172, 172, 0.3);
}

.inputSubmit{
    width: auto;
    cursor: pointer;
    /* margin-top: 3%; */
    display: block;
    height: 45px;
    font-size: 0.85rem;
    padding: 0.8rem 2.5rem;
    font-weight: 700;
    color: #ffffff;
    border: 1px solid  #1f1f1f;
    border-radius: 3px;
    background-color: #1f1f1f;
    transition: .2s linear;
}

.inputSubmit:hover{
    background-color: #000000;
}

.inputSubmit:disabled{
    cursor:default;
    border: 1px solid #6e6e6e;
    color: #6e6e6e;
    background-color: #fff;
}

.flexRows{
    display: flex;
    width: 100%;
    gap: 5%;
    flex-direction: row;
    margin-bottom: 2%;
}

.flexContainer{
    width: 100%;
    /* flex-shrink: 0; */
    flex-grow: 1;
}

.flexContainer > label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 10px !important;
}

.group{
    border: 1px solid #cecece;
    border-radius: 5px;
    padding: 1rem;
}

.requiredField::after{
    content: ' ✷';
    color: #ff262a;
    transform: scale(150%);

}

#miejscowosc{
    color: #000;
}

.flexBase{
    flex-grow: 1;
}

.inputValidationContent{
    font-size: 00.85rem;
}

.titleValidate{
    font-weight: 600;
    /* font-style: italic; */
    margin-bottom: 15px;
    font-size: 0.8rem;
}

.inputValidation{
    width: 50%;
    border-left: 1px solid #cecece;
    /* background-color: #fff;
    border: 1px solid #cecece; */
    border-radius: 5px;
    padding: 2rem 3rem;
}

.validateList{
    padding-left: 25px;
    font-style: italic;
}



.INVALIDlist::marker{
    content: '✖  ';
}

.INVALIDlist{
    color: #f06b6b;
    transition: .2s linear;
}

.VALIDlist::marker{
    content: '✔  ';
}

.VALIDlist{
    transition: .2s linear;
    color: #008000;
}

.profileInputVALID{
    border: 1px solid #008000;
}

.profileInputINVALID{
    border: 1px solid rgb(255, 0, 0);
}

.profileInputVALID:focus{
    outline: 0;
    border: 1px solid #008000;
    box-shadow: 0 0 0 3pt  rgb(0, 128, 0, 0.3);
}

.profileInputINVALID:focus{
    outline: 0;
    border: 1px solid rgb(255, 0, 0);
    box-shadow: 0 0 0 3pt  rgba(255, 0, 0, 0.3);
}

.messageInput{
    display: none;
    /* margin: 10% 0; */
    font-size: 0.8rem;
    /* width: 80%; */
    text-align: center;
    padding: 1em 10%;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid #f5c2c7;
    background-color: #f8d7da;
    color: #932020;
}

.mobileNav{
    display: none;
}

.tablecontent{
    display: none;
}

.loading{
    /* background-color: brown; */
    height: 100%;
    position: relative;
}

.loadingIcon{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 600;
    /* font-style: italic; */
}

.editRecord{
    width: 80%;
    margin: 0 auto 0 auto;

}

.noValue{
    font-style: italic;
    color: rgb(110, 110, 110);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
      border-radius: 5px;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px 20px;
    height: auto;
    text-align: center;
    border: 1px solid #888;
    width: 450px; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    display: none;
    top: 0;
    color: #aaa;
    /* float: right; */
    height: auto;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.flexDelete{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.deleteButton{
    /* background-color: #f94144; */
}

.noDeleteButton{
    background-color: #fff;
    border: #cecece;
    color: #000;
}

.noDeleteButton:hover{
    background-color: rgb(224, 224, 224);
}

@media screen and (max-width:1300px){
    .flexBase{
        flex-direction: column;
        gap: 50px;
    }

    .inputValidation{
        border-left: 0;
        width: 100%;
        border-top: 1px solid #cecece;
    }
}

@media screen and (max-width:830px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 50px auto 1fr;
        grid-template-areas: 
        "mobileNav"
        "sidebar"
        "panelContent"
    }

    .sidepanel{
        /* display: none; */
    }
    .panelInfo{
        display: none;
    }

    .mobileNav{
        background-color: #121212;
        z-index: 999;
        grid-area: mobileNav;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas:
        ". mobileMenu"
        /* "dropdownmenu dropdownmenu" */

    }

    .mobileMenu{
        grid-area: mobileMenu;
        height: auto;
        width: 100px;
        position: relative;
        /* margin: 5% 15%; */
    }

    .mobileIcon{
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        height: 35px;
        width: 50px;
        background-color: #1e1e1e;;
        border: 1px solid #777777;
        border-radius: 5px;
        cursor: pointer;
    }

    .mobileIcon:hover{
        background-color: black;
    }

    .mobileSVG{
        position: relative;
        width: 100%;
        height: 100%;
    }

    .mobileSVG > svg{
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        fill: rgb(245, 245, 245);
        height: 15px;
    }

    .sidepanel{
        position:absolute;
        /* height: 50px; */
        top: 49px;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        /* height: 0; */
        max-height: 0;
        background-color: #181818;
        transition: max-height 0.2s ease-out;
    }

    .mobileTitle{
        margin: auto 5%;
        color: #fff;
        font-size: 0.8rem;
    }

    .panelContent{
        padding: 5%;
    }
}

@media screen and (max-width:480px){
    .flexRows{
        flex-direction: column;
        margin-bottom: 0;
    }
    .flexContainer{
        margin-bottom: 2%;
    }
    table{
        font-size: 0.7rem;
    }
    td{
        font-size: 0.7rem;
    }
}

@media screen and (max-width:345px){
    .mobileTitle{
        font-size: 0.6rem;
    }
    .siteName2{
        font-size: 0.8rem;
    }
}

/* tr:hover{
    background-color: #f0f0f0;
    border-bottom: 1px solid rgb(206, 206, 206, 0.5);
} */

/* tr:hover .delete{
    opacity: initial;
    display: block;
} */

