.flexTableForm{
    gap: 100px;
}

.addMassForm{
    width: 60%;
}

@media screen and (max-width:1500px){
    .flexTableForm{
        gap: 50px;
        flex-direction: column-reverse;
    }
    .addMassForm{
        width: 100%;
    }
}