<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/panelStyle.css">
    <script src="/static/js/panelScript.js" defer></script>

    <!-- <script src=""></script> -->
    {% block head %}{% endblock %}
</head>
<body>
    <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <div>Czy na pewno chcesz usunąć rekord <span id="imieNaz"></span>?</div>
          <div class="flexDelete">
              <div class="flexDeleteCont">
                <button class="inputSubmitModal deleteButton" id="deleteButton">Tak</button>
              </div>
              <div class="flexDeleteCont">
                <button class="inputSubmitModal noDeleteButton">Nie</button>
              </div>
          </div>
        </div>
      </div>
    <div class="mobileNav">
        <div class="mobileTitle">
            Parafia pw. Matki Bożej Królowej Polski <br> <div class="siteName2">w Domostawie</div>
        </div>
        <div class="desktopMenu">
            <a href="#">Strona główna</a>
            <a href="#">Cmentarz</a>
            <a href="#">Kontakt</a>
        </div>
        <div class="mobileMenu">
            <div class="mobileIcon">
                <div class="mobileSVG">
                    <svg version="1.1" id="Warstwa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" 	 viewBox="0 0 1510 1038" style="enable-background:new 0 0 1510 1038;" xml:space="preserve"> <g> 	<path d="M1404.5,209h-1300C46.8,209,0,162.2,0,104.5v0C0,46.8,46.8,0,104.5,0h1300c57.7,0,104.5,46.8,104.5,104.5v0 		C1509,162.2,1462.2,209,1404.5,209z"/> </g> <g> 	<path d="M1404.5,627h-1300C46.8,627,0,580.2,0,522.5v0C0,464.8,46.8,418,104.5,418h1300c57.7,0,104.5,46.8,104.5,104.5v0 		C1509,580.2,1462.2,627,1404.5,627z"/> </g> <g> 	<path d="M1405.5,1038h-1300C47.8,1038,1,991.2,1,933.5v0C1,875.8,47.8,829,105.5,829h1300c57.7,0,104.5,46.8,104.5,104.5v0 		C1510,991.2,1463.2,1038,1405.5,1038z"/> </g> </svg>
                </div>
                
            </div>
            
        </div>
    </div>

    <div class="sidepanel">
        <!-- <div class="panelInfo">
            <div class="siteName">Parafia pw. Matki Bożej Królowej Polski <br> <div class="siteName2">w Domostawie</div></div>
        </div> -->

        <div class="menu">
            <div class="adminInfos">
                <div class="name"><svg version="1.1" baseProfile="basic" id="Warstwa_1" 	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 2000" 	 xml:space="preserve"> <path d="M219,1801c0-431.3,349.7-781,781-781s781,349.7,781,781"/> <circle cx="1000" cy="526" r="356"/> </svg> <div id="nameText"></div> </div>
                <div class="logoutDiv"><a href="#">Wyloguj</a></div>
            </div>
            <script>
                let adminData = '{{ data2[1] | tojson }}';
                adminData = adminData.substring(1, adminData.length-1);
                adminData = JSON.parse(adminData);
        
                let adminNick = '{{ data2[0] | tojson }}';
                adminNick = adminNick.substring(1, adminNick.length-1);
                adminNick = JSON.parse(adminNick);

                document.getElementById('nameText').innerHTML += `${adminData['imie']} ${adminData['nazwisko']} <br> <div class='nickname'>${adminNick['id_admin']}</div>`;
                // document.getElementById('nickname').innerHTML = `${adminNick['id_admin']}`;
            </script>
            <hr>
            <!-- <a href="/">Strona główna</a>
            <hr> -->
            <div class="category">Zmarli na cmentarzu</div>
            
            <!-- <a class="activeTab">Lista zmarłych</a> -->
            <a id="listazmarlych" href="/database">Lista zmarłych</a>
            <a id="dodajzmarlego"  href="/record">Dodaj zmarłego</a>
            <hr>
            <div class="category">Msze w kościele</div>
            
            <a id="przegladajmsze" href="/mass_database">Dodaj i przeglądaj msze</a>
            <!-- <a id="dodajmsze" href="/add_mass">Dodaj mszę</a> -->
            <hr>
            <div class="category">Administratorzy</div>
            
            <!-- <a id="dodajadmina" href="/new_admin">Dodaj administratora</a> -->
            <a id="przegladajadmina" href="/admin_database">Dodaj i przeglądaj administratorów</a>
            
        </div>
    </div>
    <!-- <div class="content">
        <p>Lorem ipsum...</p>
      </div> -->
    <div class="panelContent">
        {% block panelContent %}{% endblock %}
    </div>
</body>
</html>