

{% extends 'basePanel.html' %}

{% block head %}
<link rel="stylesheet" href="/static/js/tabulator-master/dist/css/tabulator.min.css">
<script src="/static/js/tabulator-master/dist/js/tabulator.min.js"></script>
<script src="/static/js/table-paginator-master/paginator.js"></script>
<script src="/static/js/panelDatabase.js" defer></script>

{% endblock %}

{% block panelContent %}
<div class="subdomainTitle">Lista zmarłych</div>
<div id="tabelaTabulator"></div>
<table id="table" style="width:100%">
  <tr>
    <th>Nazwisko</th>
    <th>Imię</th>
    <th>Data urodzenia</th>
    <th>Data zgonu</th>
    <th>Adres</th>
    <th>Kwatera</th>
    <th>Przyczyna zgonu</th>
    <th>Identyfikator wprowadzającego</th>
    <th></th>
  </tr>
  {% for d in data %}
  <tr>
    <td>{{d['nazwisko']}}</td>
    <td>{{d['imie']}}</td>
    <td>{{d['data_urodzenia']}}</td>
    <td>{{d['data_zgonu']}}</td>
    <td>{{d['nazwa']}} {{d['nr_adres']}}</td>
    <td>{{d['id_kwatera']}}</td>
    <td class="przyczyna">{{d['przyczyna']}}</td>
    <td>{{d['id_admin']}}</td>
    <td class="buttonTd"> 
      <button class="delete">
        Usuń
      </button> 
    </td>
  </tr>
  {% endfor %}
</table>
  <div id="paginatorDiv"></div>
  <script>
    let d = '{{ data | tojson }}'
    d = JSON.parse(d);
  </script>
{% endblock %}
